.carousel-one {
  background-image: url("../img/newspapers.jpg");
  background-size: cover;
}

.carousel-two {
  background: url("../img/on-the-train.jpg");
  background-size: cover;
  background-position: center;
}

.carousel-three {
  background: url("../img/old-man.jpg");
  background-size: cover;
  background-position: 50% 85%;
}

.card {
  text-align: center;
}

nav div {
  padding: 0 20px;
}

p {
  padding: 20px 10px;
}

.carousel-fixed-item {
  position: absolute;
  top: 50%;
}
